body,
html {
    height: 100%;
    width: 100%;
}

body {
    transform-style: preserve-3d;
    transform: perspective(800px) scale(0.5);
}

.bg0 {
    background: linear-gradient(to bottom, #f6f7fc 0%, #d5e1e8 40%);
}

.bg1 {
    background: linear-gradient(to bottom, #f6fcf7 0%, #d5e8d8 40%);
}

.frame {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 800px;
    z-index: 99;
}

.clip0 {
    clip-path: circle(400px at center);
}

.clip1 {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.clip2 {
    clip-path: inset(0 0 0 0);
}

#tile {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 800px;
    height: 800px;
}

.shadow {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 800px;
    z-index: -1;
    filter: drop-shadow(0 50px 150px rgba(0, 0, 0, 0.4));
}

#shadow-clip {
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 800px;
}

div[class*="layer-"] {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* background-position: -240px 0; */
    transition: 0.09s;
    width: 1000px;
    height: 556px;
    margin-left: -100px;
}

.glare {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
    z-index: 100;
    display: none;
}

.anim {
    animation-name: move;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    0% {
        margin-left: 900px;
    }
    100% {
        margin-left: -900px;
    }
}

.bird {
    position: absolute;
    left: 0;
    bottom: 300px;
    display: block;
    z-index: 8;
    animation: birdFly 12s linear infinite;
}

@keyframes birdFly {
    0% {
        margin-left: 900px;
    }
    100% {
        margin-left: -900px;
    }
}

.left-wing {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    transform-origin: right bottom;
    animation: wingLeft 0.4s ease infinite;
}

.left-wing span {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid #555;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border-color: #555 transparent transparent transparent;
    transform: translate(1px, 15px);
}

@keyframes wingLeft {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(40deg);
    }
    100% {
        transform: rotate(0);
    }
}

.right-wing {
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 20px;
    height: 20px;
    transform-origin: left bottom;
    animation: wingRight 0.4s ease infinite;
}

.right-wing span {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid #444;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #444 transparent transparent transparent;
    transform: translate(-2px, 14px);
}

@keyframes wingRight {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(0);
    }
}

.stop {
    display: none;
}

#inputCanvas,
#inputVideo {
    display: none;
}

.control {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -200px;
}

#headtrackerMessage {
    display: block;
}